<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79612784702-lcv2qfrvje8bfoqa73lkfsn6q0in979p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79612784702-lcv2qfrvje8bfoqa73lkfsn6q0in979p</string>
	<key>API_KEY</key>
	<string>AIzaSyAx4tP6IjzahYcd960u6mVUitYS44ykZs0</string>
	<key>GCM_SENDER_ID</key>
	<string>79612784702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hats.pirsonescape</string>
	<key>PROJECT_ID</key>
	<string>pirson-escape-plan</string>
	<key>STORAGE_BUCKET</key>
	<string>pirson-escape-plan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79612784702:ios:266143158e4e0d72c4616f</string>
	<key>DATABASE_URL</key>
	<string>https://pirson-escape-plan.firebaseio.com</string>
</dict>
</plist>